<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net471" />
  <package id="Enums.NET" version="4.0.1" targetFramework="net471" />
  <package id="jvncorelib" version="1.0.1.7" targetFramework="net471" />
  <package id="MathNet.Numerics.Signed" version="4.15.0" targetFramework="net471" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.3.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="NPOI" version="2.6.2" targetFramework="net471" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net471" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net471" />
  <package id="SixLabors.ImageSharp" version="2.1.4" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Xml" version="6.0.1" targetFramework="net471" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
</packages>