<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="conSqlStr" value="Server=134.175.239.108;Database=TSHotelDB;Uid=sa;Pwd=yjj0720."/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
